html {
  overflow-x: hidden;
}
.App {
  width: 100vw;
  padding: 0;
}

.main {
  height: auto;
  background-color: #a6c9e9;
}

.dashTitle {
  margin-bottom: 5vh;
  text-align: center;
  font-size: 3rem;
  color: rgb(16, 82, 136);
}

.blockTitle {
  color: rgb(54, 91, 160);
  font-size: 1.5rem;
}

.chartContainer {
  min-height: 150px;
  background-color: #f8f9fa;
  margin: auto;
  border: 1px solid #527292;
  display: block;
  border-radius: 10px;
}

.temp {
  display: table;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .dashTitle {
    font-size: 2rem;
  }
  .nav-block {
  }
}
.nav-block {
  background-color: #f8f9fa;
  width: 100%;
  float: left;
  margin: 0;
  height: 100%;
  border: 1px solid #527292;
  border-radius: 5px;
}
