html {
  overflow-x: hidden;
}
.App {
  width: 100vw;
  padding: 0;
}

.main {
  height: auto;
  background-color: #404850;
}

.dashTitle {
  margin-bottom: 5vh;
  text-align: center;
  font-size: 3rem;
  color: white;
}
.blockTitle {
  color: rgb(25, 49, 93);
}
.chartContainer {
  min-height: 250px;
  background-color: #d1e0d0;
  margin: auto;
  border: 1px solid #212529;
  display: block;
}

.temp {
  display: table;
  margin: 0 auto;
}

@media only screen and (max-width: 600px) {
  .dashTitle {
    font-size: 2rem;
  }
}
